@model Laboratorio2.Website.Models.SalesPersonAddressModel
@{
    ViewBag.Title = "Vendedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-bottom:20px !important" class="container">
    @using (Html.BeginForm())
    {
        <h2>Búsqueda de vendedores</h2>
        @Html.TextBoxFor(x => x.City, new { @class = "form-control", placeholder = "Ciudad" })
        @Html.TextBoxFor(x => x.Province, new { @class = "form-control", placeholder = "Provincia" })
        @Html.TextBoxFor(x => x.Country, new { @class = "form-control", placeholder = "País" })
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Nombre" })
        <button class="btn btn-lg btn-primary btn-block" type="submit">Buscar</button>
    }
</div>
@if (Model.Items != null && Model.Items.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Group Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model.Items)
                {
                    <tr>
                        <td><a href="@(Url.Action("Address") + "/" + person.AddressID)">@person.BusinessEntityID</a></td>
                        <td>@person.SalesYTD</td>
                        <td>@department.GroupName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
